h1 {
    text-align: center;
    font-size: 100px;

}

h2 {
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
}

.btn {
    font-size: 30px;
    display: inline-block;
    margin: 0 20px;
}
.btns {
    display: flex;
    justify-content: center;
}
